<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}The Awesome Ledger{% endblock %}</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ root }}style.css">
<link rel="alternate" type="application/rss+xml" title="The Awesome Ledger" href="{{ root }}feed.xml">
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
